<div class="groupomania">
    <div class="post">
        <h4><a [href]="postUrl">Make a post</a></h4>
    </div>
    <div class="products">
        <div *ngFor='let product of products'>
            <div class="card">
                <div class="up">
                    <h3 id="title">{{ product.title }}</h3>
                    <p id="name-lname">{{ product.name }} {{ product.lastName }}</p>
                </div>
                <p id="date">{{ product.date.split("T")[0] }}</p>
                <p id="message">{{ product.message }}</p>
            </div>
        </div>
    </div>
</div>