<header>
    <div class="logo">
      <a [href]="groupomaniaUrl"><img src="assets/images/icon-left-font-monochrome-black.svg"></a>
    </div>
    <div class="gradiant"></div>
    <nav>
      <div class="register"><a href="http://localhost:4200/register"><i class="fa-solid fa-pen"></i>Register</a></div>
      <div class="login"><a href="http://localhost:4200/login"><i class="fa-solid fa-circle-check"></i>Login</a></div>
      <div class="profile"><a [href]="profileUrl"><i class="fa-solid fa-user"></i>My profile</a></div>
    </nav>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="logo">
      <a href="http://localhost:4200/groupomania"><img src="assets/images/icon-left-font-monochrome-white.svg"></a>
    </div>
    <div class="gradiant"></div>
    <div class="social">
      <div class="linkdin">Site realized by <a id="linkdin" href="https://www.linkedin.com/in/florent-jouinot-9530b41b7" target="_blank">Jouinot Florent</a></div>
      <div class="openclassrooms">Site made for <a id="openclassrooms" href="https://openclassrooms.com/fr/" target="_blank">Openclassrooms</a></div>
    </div>
</footer>